<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net461" />
  <package id="ILMerge.Tools" version="2.14.1208" targetFramework="net461" />
  <package id="ILMerge.Tools.MSBuildToolTask" version="2.14.1208.49" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net461" />
</packages>